extends layout

block content

  h1 Do you even protein, bro?

  div(style ='margin-top:20px;')
   h4 #[strong Kitten eat a lot]
    p A kitten's weight may double or even triple during the first few weeks of life. To support this explosive growth, your kitten may have triple the energy needs of an adult cat.
    p Kitten's needs for fat, some fatty acids, and most vitamins are the same as for adult cats. But kittens have higher requirement for protein, amino acids, and minerals, as well as for vitamins. Kittens should get about 30% of their energy from protein.
    p For these reasons, most expersts recommend you feed your kitten specially formulated kitten food until age 1.
   h4 #[strong Good Eating habits. ] 
    p By nature a cat's cycle consists of four parts: hunt, eat, groom, and sleep. 
    p One way cat owners can use this knowledge to better care for their companions: require a cat to hunt before she eats (playing with interactive toys, hiding the food bowl) improves its digestions, helps build muscle and lose weight and enables it to lead a happier, more fufilling life.
