extends layout

block content

  h1 Welcome to #{title} !
  p 
  img(src='/images/happyCat.png' style='float' width='200' height='290') 
  img(src='/images/happyCat.png' style='float' width='200' height='290')


