extends layout

block content

  h1 Lets be friends, but you stay over there.

  div(style ='margin-top:20px;')
  h4 #[strong The personlity of your resident pets]
   p It is importat to find a vet within a week of getting you kitten. So that it can have a checkup.
   p When you first bring your new kitten home, it is important to isolate her. #[a(href='/catalog/home') Choose a room] in neutral territory (not where your other  pet likes to sleep). This will give you time to reassure the older pet, and will also protect the youngster from potential aggression and let the new kitten privately get used to you.
  h4 #[strong First introduction] 
   p Animals get to know each other by smell. Your older pet will spend a lot of time sniffing at the bottom of the door to kitty's room. The kitten will do the same on the other side. 
   p After a day or two, you should be able to determine your pet's reaction to the new kitten. A dog anxious to meet the kitten will scratch at the door and wag his tail, while a cat will purr and generally act curious or friendly. However, if your dog growls or barks at the door and your cat hisses and seems upset, it would be best to wait a few more days before trying a face-to-face introduction
   p The first time the two pets meet face-to-face should be short and, hopefully, calm. If the older pet is a dog, proper restraint, such as a leash will prevent him from chasing and scaring the kitten. Don't force the issue. Let the animals go as close, or stay as far away, as they want. Repeat short introductions as often as necessary, until the animals are able to stay comfortably in the same room, with supervision. Don't expect instant friendship - that takes time.
   p Litter box
   p Two or more cats in a household often do share a litter box, but many adult cats do not appreciate sharing with a kitten, at least until they are better adjusted. Providing two litter boxes should help prevent your adult cat from starting to soil in inappropriate areas in protest. General rule is one litter box per cat. 
