extends layout

block content

  h1 Tips
  p Clean the litterbox at least twice a day
  p Keep your kitten's food bowl away from the litterbox
  p One litter box per cat
  P So your cat doesn't associate its carrier with a visit to the vet, take it to happy places in its carrier.