extends layout

block content

  h1 Going to the vet is a good thing!

  div(style ='margin-top:20px;')
   h4 #[strong Find a vet]
    p It is importat to find a vet within a week of getting your kitten, so that it can have a checkup. Bring any paper work the shelter or breeder gave you as it may include information the vet needs.
    p Write down any question you have about taking care of your new kitten. No question is silly. The vet will be happy to answer any questions you ask.
   h4 #[strong What to expect] 
    p The examination does not cause your kitten any pain, and the vacination are a slight needle prick. 
    p During the examination, the vet will weight your kitten, and examine its coat, ears, heart, lungs, teeth, and gums. Depending on the age of your kitten, the first trip to the vets, may include its first vacinations.
    p Give your kitten lots of praise and attention when it sits still and cooperates with the vet. 
