extends layout

block content

  h1 Do you even protein, bro?

  div(style ='margin-top:20px;')
   h4 #[strong Kitten eat a lot]
    p Kittens are more active than adult cats and therefore eat more. ALso, because they are growing they need more protein.
   h4 #[strong create a safe environment] 
    p Kittens love to play with everything, that is why it's so important to kitty prep your house. Organize computer cables, dont leave small things that a  kiteen would easily swallow lying around. Things that might fall and break, because a kitten will climb everywhere it can.
