extends layout

block content

  h1 Lets be friends, but you stay over there.
  
  div(style ='margin-top:20px;')
  h4 #[strong Find a vet]
   p It is importat to find a vet within a week of getting you kitten. So that it can have a checkup.
  h4 #[strong What to expect] 
   p YOure kitten is going to be afraid, and will go into a paralizing fear. It wont want to move and so it will seem like it is being cooperative. Just remember to comfort it. 
